.profile-logo {
  width: 140px;
  height: auto;
  object-fit: contain;
}

.brand-text {
  color: #422D19;
  font-weight: 600;
}

.profile-card {
  border-left: 6px solid #BD9465;
}

.edit-btn {
  border: 1px solid #896240;
  color: #896240;
}

.save-btn {
  background-color: #59693f;
  color: #fff;
}
